* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --yellow: #dacb00;
  --blue: #008cba;
}

body {
  /* background-color: rgb(233, 233, 233); */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    width: 100%;
}

/**********************
nav section
***********************/

header {
  background-color: rgb(54, 54, 54);
}

.contact-header {
  float: right;
  display: flex;
  justify-content: flex-end;
}

.contact-header li {
  list-style: none;
  padding: 10px 5px;
}

.contact-header li a {
  text-decoration: none;
  color: white;
  font-size: 70%;
}

/* Styling for the nav bar*/
nav {

}

nav ul {
  margin-left: 15px;
  padding: 10px 5px;
  
}

nav ul li {
  display: inline;
  list-style: none;
  padding: 0 3px 0 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li::after {
  content: " |";
  color: white;
}

li a:hover {
  color: grey;
}

.background::after {
  content: "";
  clear: both;
  display: table;
}

/**********************
Background image section
***********************/

.back {
  position: relative;
  text-align: center;
  height: 500px;
  width: 100vw;
  overflow: hidden;
}

.background {
  width: 100%;
  filter: brightness(60%);
}

.title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 5px 3px 15px rgb(27, 27, 27);
  font-size: 175%;
  color: white;
  width: 70%;
  z-index: 2;
}

.title h1{
  color: var(--yellow);
}

.title h2{
  font-size: 120%;
}
.back img {
  object-fit: cover;
  opacity: 0.6;
  height: 450px;
}

/**********************
about section
***********************/

.my-photo {
  width: 150px;
  border-radius: 400px;
  object-fit: cover;
}

.about-right {
  float: right;
  padding: 30px 20px 100px;
  border-left: 3px solid var(--blue);
  width: 55%;
  margin: 0 10px;
}

.about-right h2 {
  text-align: center;
  text-decoration: underline var(--yellow);
  padding: 0 0 20px;
  margin-top: 0;
}

.about-right p {
  line-height: 1;
  font-size: 12px;
  text-align: justify;
  padding-bottom: 30px;
}

/* Button styling */
.button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid var(--yellow);
}

.button1:hover {
  background-color: var(--yellow);
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid var(--blue);
}

.button2:hover {
  background-color: var(--blue);
  color: white;
}



/************/
.about-left {
  float: right;
  width: 30%;
  padding: 15px;
  margin: 10px;
}

.about-left .my-photo {
  position: relative;
  left: 20%;
}

.gallery img {
  height: auto;
  width: 60px;
  position: relative;
  left: 12%;
}
.gallery{
  margin-top: 10px;
}

#about {
  background-color: white;
}

/**********************
Projects section
***********************/

.projects{
  padding-top: 30px;
}
.projects h2{
  text-align: center;
  text-decoration: underline var(--yellow);
  margin: 10px 0 0 0;
}

.projects p{
  line-height: 1;
  font-size: 12px;
  text-align: center;
  padding: 10px 75px;
  color: grey;
}