* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --yellow: rgb(218, 203, 0);
  --blue: #008cba;
  --eggshell:  rgba(250, 250, 250, 0.767);
}

body {
  /* background-color: rgb(233, 233, 233); */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  font-size: 18px;
}

/**********************
nav section
***********************/

header {
  background-color: rgb(54, 54, 54);
}

.contact-header {
  float: right;
  display: flex;
  justify-content: flex-end;
}

.contact-header li {
  list-style: none;
  padding: 10px 10px 10px 5px;
}

.contact-header li a {
  text-decoration: none;
  color: white;
  font-size: 80%;
}

/* Styling for the nav bar*/
nav {
}

nav ul {
  margin-left: 15px;
  padding: 10px 5px;
}

nav ul li {
  display: inline;
  list-style: none;
  padding: 0 3px 0 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li::after {
  content: " |";
  color: white;
}

li a:hover {
  color: grey;
}

.background::after {
  content: "";
  clear: both;
  display: table;
}

/**********************
Background image section
***********************/

.back {
  position: relative;
  text-align: center;
  height: 600px;
  width: 100%;
  overflow: hidden;
}

.background {
  width: 100%;
  filter: brightness(60%);
}

.title {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 5px 3px 15px rgb(27, 27, 27);

  color: white;
  width: 70%;
  z-index: 2;
}

.title h1 {
  color: var(--yellow);
  font-size: 370%;
}

.title h2 {
  font-size: 260%;
}
.back img {
  object-fit: cover;
  opacity: 0.6;
  height: 100%;
}

/**********************
about section
***********************/

.my-photo {
  width: 150px;
  border-radius: 400px;
  object-fit: cover;
}

.about-right {
  float: right;
  padding: 30px 20px 100px 20px;
  border-left: 3px solid var(--blue);
  width: 55%;
  margin: 0 10px;
}

.about-right h2 {
  text-align: center;
  text-decoration: underline var(--yellow);
  padding: 0 0 20px;
  margin-top: 0;
}

.about-right p {
  line-height: 1.2;
  font-size: 90%;
  text-align: justify;
  padding-bottom: 30px;
  padding: 0 25px 30px 25px;
}

/************/
.about-left {
  float: right;
  width: 30%;
  padding: 25px;
  margin: auto;
}

.about-left .my-photo {
  position: relative;
  left: 20%;
}

.gallery img {
  height: auto;
  width: 65px;
  position: relative;
  left: 15%;
  margin: 4px;
}
.gallery {
  margin-top: 10px;
  width: 240px;
}

#about {
  background-color: white;
  margin: 60px 0 75px 0;
}

#about::after {
  content: "";
  clear: both;
  display: table;
}

/* Button styling */
.button {
  border: none;
  color: var(--eggshell);
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid var(--yellow);
  margin-left: 30px;
}

.button1:hover {
  background-color: var(--yellow);
  color: white;
}

.projects .button1 {
  background-color: var(--eggshell);
  color: black;
  border: 2px solid var(--yellow);
  margin: 10px 0 0 0;
}

.projects .button2 {
  background-color: var(--eggshell);
  color: black;
  border: 2px solid var(--blue);
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid var(--blue);
}

.button2:hover {
  background-color: var(--blue);
  color: white;
}

/**********************
Projects section
***********************/

.projects {
  padding-top: 50px;
  margin: 50px 0 0 0;
}
.projects h2 {
  text-align: center;
  text-decoration: underline var(--blue);
  margin: 10px 0 0 0;
  font-size: 180%;
  padding: 20px 0 10px;
}

.projects p {
  line-height: 1;
  font-size: 14px;
  text-align: center;
  padding: 10px 15%;
  color: grey;
  margin: 0 0 25px;
}

hr.rounded {
  border-top: 3px solid var(--yellow);
  border-radius: 5px;
  width: 62%;
  margin: auto;
  clear: both;
}

.projects h3 {
  text-align: center;
  margin: 30px 0 0 0;
  text-decoration: underline var(--blue);
}

.product-img-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-left {
  float: left;
  width: 35%;
  padding: 10px;
  margin: auto;
}

.project-right {
  float: left;
  padding: 10px 20px 20px 60px;
  /* border-left: 3px solid rgb(218, 203, 0, 0.1); */
  width: 50%;
  margin: 30px 10px 50px;
}

.project-right::after {
  clear: both;
}

.projects{
  background-color: rgb(243, 243, 243);
}


/**********************
Contact section
***********************/

.contact {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:  rgb(243, 243, 243);
}

.contact-box {
  background-color: white;
  padding: 25px 50px;
  border-radius: 5px 5px 0 0;
  border-bottom: 10px solid var(--yellow);
  width: 40%;
  text-align: left;
  box-shadow: 1px 8px 10px 5px rgba(0,0,0,0.12);
  margin: 25px 0;
}

.my-photo {
  float: left;
  margin-right: 50px;
}

.contact-box ul li {
  list-style-type: none; 
}

.contact-box ul li a{
  text-decoration: none;
  color: black;
}

.contact-box ul li  a img{
  align-items: center;
}

.contact-box ul li a:hover {
  color: grey;
}
.contact-box h4, 
.contact-box p,
.contact-box ul li {
  padding: 3px;
}

.contact-box p {
  margin-bottom: 6px;
}


.contact-box p,
.contact-box ul li {
  font-size: 75%;
}